{{ 'okendo-dedicated-reviews.js' | asset_url | script_tag }}
{{ 'okendo-dedicated-reviews.css' | asset_url | stylesheet_tag: preload: true }}

<div class="container container-reviews">
    <h2 class="heading center">{{ page.title }}</h2>
        <div class="reviews-intro center">
            {% if section.settings.intro_text != blank %}
                <p class="reviews-intro__text center">
                    {{ section.settings.intro_text }}
                </p>
            {% endif %}

            {% if section.settings.button_label != blank and section.settings.button_link != blank %}
                <a href="{{ section.settings.button_link }}" class="custom-btn black reviews-intro__button center">
                    {{ section.settings.button_label }}
                </a>
            {% endif %}
        </div>
    <div class="orc-allReviewsCollections">
        <div id="orc-collection-control" style="display: none">
            <div id="orc-collection-controls-label" class="orc-collectionControlsLabel">Select a product range</div>
            <div class="orc-collectionControls" role="radiogroup" aria-labelledby="orc-collection-controls-label">
                <div class="orc-collectionControls-item custom-btn black">
                    <input
                        id="orc-reviews-control-3"
                        class="orc-collectionControls-item-input orc-collectionControls-item-input--checked js-orc-collectionRadio"
                        type="radio"
                        checked
                        value=""
                        name="orc-reviews-collection-control"
                    />
                    <label for="orc-reviews-control-3" class="orc-collectionControls-item-label">
                        <span class="orc-collectionControls-item-label-heading"> All Reviews </span>
                    </label>
                </div>
                <div class="orc-collectionControls-item custom-btn black">
                    <input
                        id="orc-reviews-control-2"
                        class="orc-collectionControls-item-input js-orc-collectionRadio"
                        type="radio"
                        value="6e638a8a-fc7a-4403-afb0-ac4a90736f5b"
                        name="orc-reviews-collection-control"
                    />
                    <label for="orc-reviews-control-2" class="orc-collectionControls-item-label">
                        <span class="orc-collectionControls-item-label-heading"> Coconuts </span>  
                    </label>
                </div>
                <div class="orc-collectionControls-item custom-btn black">
                    <input
                        id="orc-reviews-control-3"
                        class="orc-collectionControls-item-input js-orc-collectionRadio"
                        type="radio"
                        value="c5010614-afad-44cf-b853-d07d1e5c9da7"
                        name="orc-reviews-collection-control"
                    />
                    <label for="orc-reviews-control-3" class="orc-collectionControls-item-label">
                        <span class="orc-collectionControls-item-label-heading"> Mangoes </span>
                    </label>
                </div>
                <div class="orc-collectionControls-item custom-btn black">
                    <input
                        id="orc-reviews-control-4"
                        class="orc-collectionControls-item-input js-orc-collectionRadio"
                        type="radio"
                        value="a8eccc99-872e-4a63-a982-9158833dce16"
                        name="orc-reviews-collection-control"
                    />
                    <label for="orc-reviews-control-4" class="orc-collectionControls-item-label">
                        <span class="orc-collectionControls-item-label-heading"> Dried Fruit  </span>
                    </label>
                </div>
                <div class="orc-collectionControls-item custom-btn black">
                    <input
                        id="orc-reviews-control-5"
                        class="orc-collectionControls-item-input js-orc-collectionRadio"
                        type="radio"
                        value="68595ce5-0137-43b5-8317-32181e7088bb"
                        name="orc-reviews-collection-control"
                    />
                    <label for="orc-reviews-control-5" class="orc-collectionControls-item-label">
                        <span class="orc-collectionControls-item-label-heading"> Dates </span>
                    </label>
                </div>
                <div class="orc-collectionControls-item custom-btn black">
                    <input
                        id="orc-reviews-control-5"
                        class="orc-collectionControls-item-input js-orc-collectionRadio"
                        type="radio"
                        value="cb3bfc4e-d055-4da1-9075-cecf4b18a1a7"
                        name="orc-reviews-collection-control"
                    />
                    <label for="orc-reviews-control-5" class="orc-collectionControls-item-label">
                        <span class="orc-collectionControls-item-label-heading"> Honey </span>
                    </label>
                </div>
                <div class="orc-collectionControls-item custom-btn black">
                    <input
                        id="orc-reviews-control-0"
                        class="orc-collectionControls-item-input js-orc-collectionRadio"
                        type="radio"
                        value="7c0144f5-ee5f-4493-9e65-bffe5b64be3b"
                        name="orc-reviews-collection-control"
                    />
                    <label for="orc-reviews-control-0" class="orc-collectionControls-item-label">
                        <span class="orc-collectionControls-item-label-heading"> Exotic Fruits in season </span>
                    </label>
                </div>
                <div class="orc-collectionControls-item custom-btn black">
                    <input
                        id="orc-reviews-control-1"
                        class="orc-collectionControls-item-input js-orc-collectionRadio"
                        type="radio"
                        value="10120fae-11b7-4e06-880d-93162481e7f9"
                        name="orc-reviews-collection-control"
                    />
                    <label for="orc-reviews-control-1" class="orc-collectionControls-item-label">
                        <span class="orc-collectionControls-item-label-heading"> Discovery Boxes </span>
                    </label>
                </div>
                <div class="orc-collectionControls-item custom-btn black">
                    <input
                        id="orc-reviews-control-5"
                        class="orc-collectionControls-item-input js-orc-collectionRadio"
                        type="radio"
                        value="530c54ef-209f-4620-a0cb-826bb020d5de"
                        name="orc-reviews-collection-control"
                    />
                    <label for="orc-reviews-control-5" class="orc-collectionControls-item-label">
                        <span class="orc-collectionControls-item-label-heading"> Organic & Raw Nuts </span>
                    </label>
                </div>
            </div>
        </div>
        <!-- SET THE data-oke-reivews-group-id to the GUID you wish to default the widget to when the page loads (usually the first radio value in the list above -->
        <div id="orc-widget-snippet" class="drp-okendo-reviews" data-oke-widget></div>
    </div>
</div>

<script type="text/javascript">
  (() => {
  const SETTINGS = {
    "subscriberId": "ad277cb9-c298-42e3-ad35-9267969af9c2",
    "reviewsWidget": {
        "header": {
            "columnDistribution": "space-between",
            "verticalAlignment": "top",
            "blocks": [{
                "columnWidth": "one-third",
                "modules": [{
                    "name": "rating-average",
                    "layout": "one-line"
                }, {
                    "name": "rating-breakdown",
                    "backgroundColor": "#e7e4e0ff",
                    "shadingColor": "#000000ff",
                    "stretchMode": "contain"
                }],
                "textAlignment": "left"
            }, {
                "columnWidth": "one-third",
                "modules": [{
                    "name": "attributes",
                    "layout": "stacked",
                    "stretchMode": "stretch"
                }],
                "textAlignment": "left"
            }, {
                "columnWidth": "one-third",
                "modules": [{
                    "name": "media-grid",
                    "imageGap": {
                        "value": 4,
                        "unit": "px"
                    },
                    "scaleToFill": true,
                    "rows": 2,
                    "columns": 5
                }],
                "textAlignment": "left"
            }, {
                "columnWidth": "full",
                "modules": [{
                    "name": "reviews-summary",
                    "heading": "Reviews Summary",
                    "maxTextLines": 5
                }],
                "textAlignment": "left"
            }]
        },
    },      
  };

  function initializeWidget() {
	const widget = document.querySelector("[data-oke-widget]");

	if (!widget || !window.okeWidgetApi) {
		return false;
	}

	window.okeWidgetApi.setWidgetSettings(SETTINGS);
	window.okeWidgetApi.init();

	return true;
	}

  const interval = setInterval(() => {
    if (initializeWidget()) {
      clearInterval(interval);
    }
  }, 100);

  setTimeout(() => clearInterval(interval), 10000);
})();
</script>

{% schema %}
{
  "name": "Okendo Reviews Page",
  "settings": [
    {
      "type": "richtext",
      "id": "intro_text",
      "label": "Paragraph"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    }
  ],
  "presets": [
    {
      "name": "Okendo Reviews Page"
    }
  ]
}
{% endschema %}